@media screen and (min-width: 768px){
    * {
        padding: 0;
        margin: 0;
        box-sizing: border-box;
    }
    html, body {
        height: 100%;
        width: 100%;
    }
    #main {
        background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(120,120,120,0.1)), url(https://wallpaperaccess.com/full/21591.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: bottom center;
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        filter: grayscale();
        position: relative;
    }

    #left-content {
        width: 25%;
        height: 70%;
        opacity: 0.8;
    }

    #head-left {
        font-family: 'Spartan', sans-serif;
        text-align: center;
        margin-bottom: 2%;
        font-size: 150%;
        text-transform: uppercase;
        margin-top: 35%;
        color: white;
    }

    .sub-header-left {
        font-family: 'Great Vibes', cursive;
        text-align: center;
        color: white;
    }

    .content-name {
        font-family: 'Allison', cursive;
        float: right;
        font-size: 120%;
        margin-right: 5%;
        color: white;
    }

    .left-content {
        font-family: 'Satisfy', cursive;
        font-size: 90%;
        background-color: #000;
        color: rgb(255, 255, 255);
        padding: 3%;
        width: 100%;
        margin-top: 4%;
        cursor: crosshair;
        text-align: center;
    }

    .left-content:hover{
        font-size: 120%;
        width: 120%;
        margin-left: -20%;
    }

    #right-content {
        width: 35%;
        background-color: white;
        height: 85%;
        box-shadow: -60px 0px 100px -50px rgb(148, 146, 146);
        opacity: 0.8;
        padding: 3%;
    }

    .container{
        width: 100%;
        height: 50%;
    }

    .container-2 {
        width: 100%;
        height: 50%;
        margin-top: 5%;
    }

    .content-image {
        width: 50%;
        float: left;
        height: 50%;
    }

    .my-pic {
        width: 100%;
        border-radius: 50%;
    }

    .content-text {
        float: right;
        width: 48%;
    }

    .body-right-content {
        margin-top: 10%;
    }

    .heading-content {
        font-size: 250%;
        text-align: center;
    }

    .body-content {
        font-family: 'Spartan', sans-serif;
        font-size: 80%;
        margin-bottom: 10%;
        text-align: center;
    }

    .footer-arrow {
        color: rgba(0, 0, 0, 0.788);
    }

    .content-image-2 {
        clear: both;
        width: 50%;
        float: right;
    }

    .content-text-2 {
        width: 40%;
        float: left;
        margin-top: 2%;
    }

    .footer-arrow-2 {
        float: right;
        color: rgba(0, 0, 0, 0.788);
    }

    #nextline-btn a{
        position: absolute;
        z-index: 1;
        bottom: 45%;
        right: 10%;
        font-size: 3rem;
        padding: 1%;
        color: rgba(209, 209, 209, 0.555);
        cursor: pointer;
        text-decoration: none;
        box-shadow: -15px 10px 5px 0px rgba(107, 105, 105, 0.692);
    }

    #nextline-btn a:hover {
        box-shadow: -10px 8px 5px 0px rgba(107, 105, 105, 0.692);
    }

    #nextline-btn a:active {
        box-shadow: -2px 2px 5px 0px rgba(107, 105, 105, 0.692);
    }


}
